<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.insertArea {
		border:1px solid black;
		width:500px;
		background:skyblue;
	}
</style>
</head>
<body>
	<h1 align="center">비밀번호 유효성 실습</h1>
	
	<form action="" method="get">
		<div class="wrap" align="center">
	    	<div class="insertArea" align="center">
	    		<h2>회원 가입</h2>
	    		<table>
	    			<tr>
	    				<td><label>아이디 : </label></td>
	    				<td><input type="text"></td>
	    			</tr>
	    			<tr>
	    				<td><label>비밀번호 : </label></td>
	    				<td><input type="password" id="userPwd"></td>
	    			</tr>
	    			<tr>
	    				<td><label>비밀번호확인 : </label></td>
	    				<td><input type="password" id="userPwd2"></td>
	    			</tr>
	    			<tr>
	    				<td><label>이름 : </label></td>
	    				<td><input type="text"></td>
	    			</tr>
	    		</table>
		    	<br>
		    	<input type="submit" value="회원가입" onclick="return check();"/> 
		    	<input type="reset" value="취소">
		    	<br><br>
	    	</div>
		</div>
    </form>
    
    <script>
        function check(){

			var submit = document.get
			var pwd = document.getElementById('userPwd');

			var pwd2 = document.getElementById('userPwd2');

			var space1 = '';

			if(pwd.value.length ==0 || pwd2.value.length == 0){
				alert('비밀번호를 입력해라');


				if(pwd.value.length ==0){

					pwd.focus();
				} else {
					pwd2.focus();
				}


				return false;
			}

			if(pwd.value == pwd2.value){

				if(pwd != space1 || pwd2 != space1){

				alert('회원가입에 성공하셨습니다.');
				return true;
				

				} else {
					alert('다시 작성해라');
					pwd.style.backgroundColor = "red";
					pwd2.style.backgroundColor = "red";
					pwd2.select();
					return false;
				
				}
			} else {
				alert('다시 작성해라');
				
				pwd.style.backgroundColor = "red";
				pwd2.style.backgroundColor = "red";
				pwd2.select();
				return false;
				
			}
            
          
        }
    </script>
    
	
</body>
</html>