<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문단 관련 스타일</title>
    <style>
        /* direction */
        #p1 { direction: ltr;}

        #p2 { direction: rtl;}

        /* 문단 정렬하기 */
        #align1 { text-align: left;}

        #align2 {text-align: right;}

        #align3 { text-align: center;}

        #align4 { text-align: justify;}

        /* 줄 단위 간격 조절하기 */
        #line1 { line-height: normal;}

        #line2 {line-height: 30px;}

        #line3 {line-height: 1.5em;}

        #line4 {line-height: 200%;}
    </style>
</head>
<body>
    <h1>문단 관련 스타일</h1>
    <hr>

    <h3>direction : 글자 쓰기 방향을 정의</h3>
    <pre>선택자 { direction : ltr | rtl; }</pre>
    <h4>왼쪽에서 오른쪽으로..</h4>
    <p id="p1">
        감, 사과, 배, 대추, 밤
    </p>
    <h4>오른쪽에서 왼쪽으로..</h4>
    <p id="p2">
        감, 사과, 배, 대추, 밤
    </p>

    <hr>

    <h3>문단 정렬하기</h3>
    <pre>선택자 { text-align : left | right | center | justify}</pre>
    <h4>왼쪽 정렬</h4>
    <p id="align1">
        대통령이 임시회의 집회를 요구할 때에는 기간과 집회요구의 이유를 명시하여야 한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 대법원장과 대법관이 아닌 법관은 대법관회의의 동의를 얻어 대법원장이 임명한다.
    </p>

    <h4>오른쪽 정렬</h4>
    <p id="align2">
        대통령이 임시회의 집회를 요구할 때에는 기간과 집회요구의 이유를 명시하여야 한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 대법원장과 대법관이 아닌 법관은 대법관회의의 동의를 얻어 대법원장이 임명한다.
    </p>

    <h4>가운데 정렬</h4>
    <p id="align3">
        대통령이 임시회의 집회를 요구할 때에는 기간과 집회요구의 이유를 명시하여야 한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 대법원장과 대법관이 아닌 법관은 대법관회의의 동의를 얻어 대법원장이 임명한다.
    </p>

    <h4>양쪽 정렬</h4>
    <p id="align4">
        대통령이 임시회의 집회를 요구할 때에는 기간과 집회요구의 이유를 명시하여야 한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 대법원장과 대법관이 아닌 법관은 대법관회의의 동의를 얻어 대법원장이 임명한다.
    </p>

    <hr>

    <h4>줄 간격 조절하기</h4>
    <pre>선택자 { line-height : normal | px | em | % ... } </pre>

    <h4>기본 간격</h4>
    <p id="line1">
        대통령이 임시회의 집회를 요구할 때에는 기간과 집회요구의 이유를 명시하여야 한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 대법원장과 대법관이 아닌 법관은 대법관회의의 동의를 얻어 대법원장이 임명한다.
    </p>

    <h4>픽셀 단위 고정 간격</h4>
    <p id="line2">
        대통령이 임시회의 집회를 요구할 때에는 기간과 집회요구의 이유를 명시하여야 한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 대법원장과 대법관이 아닌 법관은 대법관회의의 동의를 얻어 대법원장이 임명한다.
    </p>

    <h4>em 단위 가변 간격</h4>
    <p id="line3">
        대통령이 임시회의 집회를 요구할 때에는 기간과 집회요구의 이유를 명시하여야 한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 대법원장과 대법관이 아닌 법관은 대법관회의의 동의를 얻어 대법원장이 임명한다.
    </p>

    <h4>% 단위 가변 간격</h4>
    <p id="line4">
        대통령이 임시회의 집회를 요구할 때에는 기간과 집회요구의 이유를 명시하여야 한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 대법원장과 대법관이 아닌 법관은 대법관회의의 동의를 얻어 대법원장이 임명한다.
    </p>
</body>
</html>